@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --header-background-color: #ffffff;
  --main-background-color: #ffffff;
  --input-background-color: #ffffff;
  --border-color: #ced4da;
  --focus-border-color: #80bdff;
  --task-background-color: #ffffff;
  --footer-background-color: #ffffff;
}

/* Dark Mode */
.dark {
  --background-color: #181818;
  --text-color: #e4e4e4;
  --header-background-color: #242424;
  --main-background-color: #242424;
  --input-background-color: #333333;
  --border-color: #555555;
  --focus-border-color: #888888;
  --task-background-color: #333333;
  --footer-background-color: #242424;
}
